@import "../variables";
@keyframes anime {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.homepage {
  width: 60%;
  flex: 1 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex: 0 1 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anime 0.5s linear;
  > div {
    > h1 {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.5em;
      line-height: 2;
      margin-bottom: 1em;
      > span {
        color: $title-color;
        font-size: 2.5rem;
      }
    }
  }
}

.mouse {
  width: 50px;
  flex: 0 1 10vh;
  margin-bottom: 8em;
  animation: move 1s 10 linear;
  position: relative;
  > img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .homepage {
    width: 90%;
  }
  .name {
    display: block;
    margin: 1em 0;
  }
}
