$font-color: #5f9a9c;
$bgc: #041216;
$border-color: #5f9a9c;
$cover-color: #4e7d7eaa;
$title-color: #a6d3e3;
$white: #d0d0d0;
$border-white: #ffffff;
$title-bgc: linear-gradient(to right, #182a30 50%, #335866);
