@import "../variables";
.mainFooter {
  width: 90%;
  margin: 0 auto;
  flex: 0 1 auto;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-color;
  > h3 {
    margin: 0 1em;
    font-size: 0.8rem;
  }
  img {
    height: 3vmin;
  }
}
